# ignoro la cartella di configurazione di vscode
# .vscode/
# ignoro la cartella dei node modules
node_modules/
# ignoro i file di log se esistenti
# .log
# ignoro i file di configurazione
# al momento non ignorato per permettere una semplice implementazione
# ignoro i file docker
# dockerfile
# .dockerignore
# *.pem
# *.env
config/db.js
*.env
.env.txt