.title-icon,
label {
    display: flex;
    gap: 5px;
    align-items: center;
}

label {
    .material-symbols-rounded {
        color: $c1;
    }
    margin: 10px 0 7px 0;
}

.flex {
    display: flex !important;

    @mixin flex-grow($value) {
        flex-grow: $value;
    }

    @for $i from 1 through 10 {
        .fg-#{$i} {
            @include flex-grow($i);
        }
    }

    @mixin gap($value) {
        gap: #{calc($value / 10)}px !important;
    }

    $i: 25;
    @while $i < 300 {
        &.gap-#{$i} {
            @include gap($i);
        }
        $i: $i + 25;
    }

    &.d-row {
        flex-direction: row;
    }

    &.d-column {
        flex-direction: column;
    }

    &.x-right {
        justify-content: right;
    }

    &.y-center {
        align-items: center;
    }

    &.x-center {
        justify-content: center;
    }

    &.stretch {
        justify-content: stretch;
    }

    &.wrap {
        flex-wrap: wrap;

        &.reverse {
            flex-wrap: wrap-reverse;
        }

        &.no {
            flex-wrap: nowrap;
        }
    }

    .last {
        margin-left: auto;
    }
}

$spacers: (
    0: 0px,
    1: 0.25rem,
    2: 0.5rem,
    3: 1rem,
    4: 1.5rem,
    5: 3rem,
);

@each $key, $value in $spacers {
    .m-#{$key} {
        margin: $value !important;
    }
    .mt-#{$key} {
        margin-top: $value !important;
    }
    .mr-#{$key} {
        margin-right: $value !important;
    }
    .mb-#{$key} {
        margin-bottom: $value !important;
    }
    .ml-#{$key} {
        margin-left: $value !important;
    }
    .mx-#{$key} {
        margin-left: $value !important;
        margin-right: $value !important;
    }
    .my-#{$key} {
        margin-top: $value !important;
        margin-bottom: $value !important;
    }
}

.none {
    display: none;
}

h1,
h2,
h3,
h4,
h5 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0.5em 0 0.3em 0;

    &.icon {
        .material-symbols-rounded {
            color: $c1;
        }
    }
}

p {
    font-size: $fs-m;
    color: $text-color;
    margin: 0.5em auto;
    line-height: 1.5;

    a {
        color: $c2;
        text-decoration: none;
        border-bottom: 2px dashed $c2;

        &:hover {
            border-bottom: 2px solid $c2;
        }
    }

    b {
        color: $c1;
        font-weight: normal;
    }

    &.center {
        text-align: center;
    }

    &.secondary {
        color: $text-color-2;
    }

    &.description {
        color: $text-color-2;
        font-size: $fs-s;
    }
}

.w-100 {
    width: 100%;
}

hr {
    display: block;
    margin: 13px auto;
    height: 1px;
    width: 98%;
    border: none;
    background-color: $border-color;
}

.btn {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding: 7px 10px;
    border-radius: 7px;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    color: $text-color;
    font-size: $fs-m;

    &:disabled {
        opacity: 0.5;
        cursor: default;
    }

    &.primario {
        background-color: rgba($c1, 0.15);
        color: $c1;

        &:hover {
            background-color: rgba($c1, 0.2);
        }
    }

    &.secondario {
        background-color: $bg-4;
        color: $text-color;
    }

    &.warning {
        background-color: rgba($c-warning, 0.2);
        color: $c-warning;

        &:hover {
            background-color: rgba($c-warning, 0.3);
        }
    }

    &.danger {
        background-color: rgba(236, 55, 82, 0.2);
        color: $c-danger;

        &:hover {
            background-color: rgba(236, 55, 82, 0.3);
        }
    }

    &.t {
        background-color: transparent;
        color: $text-color-2;

        &:hover {
            box-shadow: 0 0 0 4px $bg-4;
            color: $text-color;
        }

        &:active {
            box-shadow: 0 0 0 6px $bg-4;
        }
    }

    &.l {
        font-size: $fs-l;
    }

    &.xl {
        font-size: $fs-xl;
    }

    &.close.last {
        padding: 3px;
    }
}

.window {
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    padding: 10px;
    border-radius: 7px;
    max-height: 98%;
    max-width: 950px;
    width: 95%;
    min-height: 100px;
    overflow-y: scroll;
    z-index: 10;
    background-color: $bg-2;
    transition: all 200ms cubic-bezier(1, 0, 1, 1);
    opacity: 0;
    // posizione iniziale top
    &.pt {
        top: -100%;
    }
    // posizione iniziale sinistra
    &.pl {
        top: 50%;
        right: 100%;
        transform: translate(50%, -50%) scale(0);
        left: unset;

        &.open {
            right: 50%;
            left: unset;
            transform: translate(50%, -50%) scale(1);
        }
    }
    // posizione iniziale destra
    &.pr {
        top: 50%;
        left: 100%;
    }

    &.open {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: all 200ms cubic-bezier(0, 0, 0, 1);
        opacity: 1;
    }

    // small
    &.s {
        max-width: 400px;
    }

    &.m {
        max-width: 500px;
    }

    // auto
    &.auto {
        width: inherit;
        // min-height: inherit;
    }
}

.isle {
    padding: 10px;
    border-radius: 7px;

    &.bg-1 {
        background-color: $bg-1;
    }
    &.bg-15 {
        background-color: $bg-15;
    }
    &.bg-2 {
        background-color: $bg-2;
    }
    &.bg-3 {
        background-color: $bg-3;
    }
    &.bg-4 {
        background-color: $bg-4;
    }
}

#bc-finestre {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($bg-1, 0.7);
    z-index: 9;
}

.input-text {
    display: block;
    margin: 0 auto;
    padding: 8px;
    border-radius: 7px;
    transition: 0.2s;
    outline: none;
    background-color: $bg-1;
    border: none;
    color: $text-color;
    width: 100%;
    font-size: $fs-m;
    resize: none;

    &[disabled],
    &:read-only {
        color: $text-color-2;
    }

    &.bg-2 {
        background-color: $bg-2;
    }

    &.mono {
        font-family: $monospace;
    }

    &:hover {
        box-shadow: 0 0 0 1px rgba($c1, 0.2);
    }

    &:focus {
        box-shadow: 0 0 0 4px rgba($c1, 0.2);
    }
}
