.navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    a {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        color: $text-color;
        text-decoration: none;
        border-radius: $br-s;
        transition: 0.1s;
        cursor: pointer;

        i {
            font-style: normal;
        }

        span {
            color: $c1;
        }

        &:hover {
            background-color: rgba($c1, 0.1);
        }
    }

}

vortex-navbar {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: $br-m;
    background-color: $bg-3;
    box-shadow: 0 0 0 1px $bg-5;
    position: fixed;
    top: 7px;
    left: 7px;
    width: calc(100% - 14px);
}

#sudo-indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.2s;
    margin-left: auto;
    margin-right: 20px;
    cursor: default;
    color: $text-color-2;

    &.base {
        color: $c1;
    }

    &.sudo {
        color: $c-warning;
    }
}

#accedi,
#registrati {
    display: block;
    margin: 20px auto;
    background-color: $bg-2;
    padding: 10px;
    border-radius: 10px;
    max-width: 500px;
}

#logs_container {
    position: fixed;
    bottom: 5px;
    left: 5px;
    display: flex;
    gap: 5px;
    z-index: 2050;
    max-width: 350px;
    flex-wrap: wrap;

    log-info {
        position: relative;
        padding: 6px 8px;
        padding-right: 20px;
        padding-bottom: 13px;
        border-radius: 10px;
        overflow: hidden;
        --bc-log: $bg-1;
        --i-color: $text-color;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        animation: bounce 500ms linear both;
        cursor: pointer;

        .log-container {
            display: inline-flex;
            align-items: center;
            gap: 8px;
            min-width: 200px;
            max-width: 350px;
        }

        &.chiudi {
            animation: bounce-out 500ms linear both;
        }

        p {
            margin: 0;
            color: $text-color;
        }

        &._2 {
            --bc-log: rgba(255, 83, 83, 0.3);
            --i-color: rgb(255, 114, 114);
        }

        &._1 {
            --bc-log: rgba(255, 133, 35, 0.3);
            --i-color: rgba(255, 133, 35);
        }

        &._0 {
            --bc-log: rgba(115, 142, 84, 0.3);
            --i-color: #738e54;
        }

        &._3 {
            --bc-log: rgba(179, 223, 129, 0.1);
            --i-color: #a0bd80;
        }

        background-color: var(--bc-log);
        border: 1px solid var(--i-color);

        .i-container {
            height: 100%;
            display: flex;
            align-items: center;

            i,
            .material-symbols-rounded {
                color: var(--i-color);
                font-size: calc($fs-m + 8px);
                padding: 8px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                aspect-ratio: 1 / 1;
            }
        }

        &::after,
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 5px;
            width: 0;
            background-color: var(--bc-log);
        }

        &::after {
            width: 100%;
            animation: log_bar 7s linear 0s 1;
            background-color: var(--i-color);
        }

        &::before {
            width: 100%;
        }
    }
}

#vaults-list {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    gap: $br-m;

    .group {
        display: flex;
        gap: $br-m;
        flex-wrap: wrap;
        padding: $br-m;
        border-radius: $br-l;
        background-color: $bg-2;
    }

    .checkpoint {
        width: 100%;
        font-size: calc($fs-l + 2px);
        font-family: $monospace;
        text-align: center;
        padding-top: 10px;
        cursor: default;
    }

    &.searching {
        padding: 10px 10px 2.5px 10px;
        border-radius: $br-l;
        background-color: $bg-2;
        gap: 0;

        .checkpoint {
            display: none;
        }

        .group {
            background-color: transparent;
            padding: 0;
            gap: 0;
            flex-direction: column;

            vault-li {
                margin-bottom: 7.5px;
            }
        }
    }

    &.list {
        .group {
            flex-direction: column;
        }
    }

    vault-li {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: nowrap;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        border-radius: $br-m;
        background-color: $bg-3;
        transition: 0.15s;
        flex-grow: 1;
        
        &:hover {
            background-color: $bg-4;
            // box-shadow: 0 0 4px 0px $bg-4;
        }

        .simbolo {
            color: $c1;
            font-size: $fs-xl;
            padding: 5px;
            display: flex;
            align-items: center;

            &.red {
                color: $c-danger;
            }
            &.orange {
                color: $c-warning;
            }
            &.lightblue {
                color: $c-lightblue;
            }
            &.yellow {
                color: $c-yellow;
            }
        }

        .info {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 7px;

            i {
                font-family: $monospace !important;
            }

            strong {
                font-weight: normal;
                font-size: calc($fs-m + 3px);
            }

            i {
                font-style: normal;
                font-size: $fs-m;
                color: $text-color-2;
            }
        }
    }
}

.custom-sections {
    // element margin top
    &.emt {
        custom-vault-section {
            margin-top: 0.5rem;
        }
    }
    // element margin bottom
    &.emb {
        custom-vault-section {
            margin-bottom: 0.5rem;
        }
    }

    custom-vault-section {
        background-color: $bg-4;
        padding: 0 7px 7px 7px;
        border-radius: $br-m;

        .remove-custom-section {
            padding: 3px;

            .material-symbols-rounded {
                color: $text-color-2;
            }
        }
    }
}

colored-password {
    i {
        font-style: normal !important;
        font-family: $monospace !important;

        &.az {
            color: bisque
        }

        &.AZ {
            color: rgb(164, 164, 30)
        }

        &._09 {
            color: salmon
        }

        &._s {
            color: lightskyblue
        }
    }

    &.l {
        font-size: $fs-l;
    }
}

password-strength-bar {
    display: flex;
    margin: 10px auto;
    width: 100%;
    overflow: hidden;
    background-color: $bg-3;
    padding: 5px;
    border-radius: $br-s;
    font-size: $fs-m;

    &.fs-l {
        font-size: $fs-l;
    }

    .bar {
        overflow: hidden;
        border-radius: $br-s;
        padding: 4px;
        transition: all 0.2s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        font-family: $monospace;

        &._1 {
            background-color: rgba($c-danger, 0.3);
            color: $c-danger;
        }
    
        &._2 {
            background-color: rgba($c-warning, 0.3);
            color: $c-warning;
        }
    
        &._3 {
            background-color: rgba($c2, 0.3);
            color: $c2;
        }
    
        &._4 {
            background-color: rgba($c1, 0.3);
            color: $c1;
        }
    }

}

#devices-list, #passkey-list {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

device-list-item, passkey-list-item {
    display: flex;
    flex-direction: column;
    gap: $br-m;
    padding: $br-m;
    border-radius: $br-m;
    background-color: $bg-4;

    .token-id {
        display: flex;
        gap: 5px;
        align-items: center;
        color: $text-color-2;
        font-size: $fs-s;

        i {
            font-family: $monospace !important;
            font-style: normal !important;
        }
    }

    &.current {
        .token-id {
            color: $c1;
        }
    }

    .info {
        display: flex;
        flex-direction: row;
        gap: 7px;
    }
}

#qrcode-2fa-secret, #qrcode-fsi {
    display: block;
    margin: 0 auto;
    height: 0;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background-color: rgba($bg-1, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: none;

    .full {
        width: 100%;
        height: 100%;
    }
}

#loader {
    svg {
        width: calc((15vw + 15vh) / 2);
        animation: ease-out loader infinite 2s;
    }
    .material-symbols-rounded {
        font-size: calc((12vw + 12vh) / 2);
        animation: linear spin infinite 0.5s;
    }
}

#modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($bg-1, 0.7);
    z-index: 9;
    // ---
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease, visibility 0.15s ease;

    &.show {
        opacity: 1;
        visibility: visible;
    }
}