/*
cd public/css
sass --watch main.scss:main.css
*/

/*
font e icone
*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,300,0,0');

$c1: #878e54;
$c2: #738e54;
// colori
$c-danger: rgb(238, 113, 132);
// font
$font-family: 'Rubik', sans-serif;
$monospace: 'JetBrains Mono', monospace;
$text-color: #f5f5f5;
$text-color-2: #888;
$text-color-21: #555;
// grandezze font
$fs-s: 0.9em;
$fs-m: 1em;
$fs-l: 1.4em;
$fs-xl: 1.8em;
$fs-xxl: 2.2em;
$fs-xxxl: 2.6em;
// sfondo
$bg-1: #212121;
$bg-15: #242424;
$bg-2: #272727;
$bg-3: #2a2a2a;
$bg-4: #2e2e2e;
// specifici
$border-color: #333238;

* {
    box-sizing: border-box;
    font-family: $font-family;
}

html {
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
    background-color: $bg-1;
    color: $text-color;
    font-family: $font-family !important;
}

body {
    padding: 0;
    border: 0;
    font-family: $font-family !important;
    color: $text-color !important;
}

.pagina {
    display: block;
    margin: 0 auto;
    max-width: 700px;
    width: 98%;
}

.material-symbols-rounded {
    font-size: 1.3em;
}

::-webkit-scrollbar {
    display: none;
}

@import "comuni.scss";
@import "id.scss";
@import "animazioni.scss";