/*
cd public/css
sass --watch main.scss:main.css
*/
/*
font e icone
*/
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,300,0,0");
* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
  background-color: #211e24;
  color: #f5f5f5;
  font-family: "Rubik", sans-serif !important;
}

body {
  padding: 0;
  border: 0;
  font-family: "Rubik", sans-serif !important;
  color: #f5f5f5 !important;
}

.pagina {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  width: 98%;
}

.material-symbols-rounded {
  font-size: 1.3em;
}

::-webkit-scrollbar {
  display: none;
}

.title-icon,
label {
  display: flex;
  gap: 5px;
  align-items: center;
}

label {
  margin: 10px 0 7px 0;
}
label .material-symbols-rounded {
  color: rgb(135, 142, 84);
}

.flex {
  display: flex !important;
}
.flex .fg-1 {
  flex-grow: 1;
}
.flex .fg-2 {
  flex-grow: 2;
}
.flex .fg-3 {
  flex-grow: 3;
}
.flex .fg-4 {
  flex-grow: 4;
}
.flex .fg-5 {
  flex-grow: 5;
}
.flex .fg-6 {
  flex-grow: 6;
}
.flex .fg-7 {
  flex-grow: 7;
}
.flex .fg-8 {
  flex-grow: 8;
}
.flex .fg-9 {
  flex-grow: 9;
}
.flex .fg-10 {
  flex-grow: 10;
}
.flex.gap-25 {
  gap: 2.5px !important;
}
.flex.gap-50 {
  gap: 5px !important;
}
.flex.gap-75 {
  gap: 7.5px !important;
}
.flex.gap-100 {
  gap: 10px !important;
}
.flex.gap-125 {
  gap: 12.5px !important;
}
.flex.gap-150 {
  gap: 15px !important;
}
.flex.gap-175 {
  gap: 17.5px !important;
}
.flex.gap-200 {
  gap: 20px !important;
}
.flex.gap-225 {
  gap: 22.5px !important;
}
.flex.gap-250 {
  gap: 25px !important;
}
.flex.gap-275 {
  gap: 27.5px !important;
}
.flex.d-row {
  flex-direction: row;
}
.flex.d-column {
  flex-direction: column;
}
.flex.x-right {
  justify-content: right;
}
.flex.y-center {
  align-items: center;
}
.flex.x-center {
  justify-content: center;
}
.flex.stretch {
  justify-content: stretch;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.wrap.reverse {
  flex-wrap: wrap-reverse;
}
.flex.wrap.no {
  flex-wrap: nowrap;
}
.flex .last {
  margin-left: auto;
}

h1, h2, h3, h4, h5 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0.5em 0 0.3em 0;
}
h1.icon .material-symbols-rounded, h2.icon .material-symbols-rounded, h3.icon .material-symbols-rounded, h4.icon .material-symbols-rounded, h5.icon .material-symbols-rounded {
  color: rgb(135, 142, 84);
}

.w-100 {
  width: 100%;
}

hr {
  display: block;
  margin: 13px auto;
  height: 1px;
  width: 98%;
  border: none;
  background-color: #495057;
}

.btn {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  padding: 7px 10px;
  border-radius: 7px;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  color: #f5f5f5;
  font-size: 1em;
}
.btn .material-symbols-rounded {
  font-size: 1.7em !important;
}
.btn.primario {
  background-color: rgba(135, 142, 84, 0.2);
  color: rgb(205, 220, 57);
}
.btn.primario:hover {
  background-color: rgba(135, 142, 84, 0.3);
}
.btn.danger {
  background-color: rgba(236, 55, 82, 0.2);
  color: rgb(238, 113, 132);
}
.btn.danger:hover {
  background-color: rgba(236, 55, 82, 0.3);
}
.btn.trasparente {
  background-color: #29252d;
}
.btn.trasparente:hover {
  background-color: #2f2b34;
}

.finestra {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #495057;
  max-height: 98%;
  max-width: 950px;
  width: 95%;
  min-height: 100px;
  overflow-y: scroll;
  z-index: 1050;
  background-color: var(--bg-1);
}
.finestra.s {
  max-width: 400px;
}
.finestra.auto {
  width: inherit;
}

.input-text {
  display: block;
  margin: 0 auto;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #495057;
  transition: 0.2s;
  outline: none;
  background-color: #242027;
  color: #f5f5f5;
  width: 100%;
  font-size: 1em;
}
.input-text:hover, .input-text:focus {
  border-color: rgb(135, 142, 84);
}
.input-text:focus {
  box-shadow: 0 0 0 4px rgba(135, 142, 84, 0.2);
}

.navbar {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-bottom: 15px;
}
.navbar a {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #f5f5f5;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.1s;
  cursor: pointer;
}
.navbar a span {
  color: rgb(135, 142, 84);
}
.navbar a:hover {
  background-color: rgba(135, 142, 84, 0.1);
}

#accedi, #registrati {
  display: block;
  margin: 20px auto;
  background-color: #29252d;
  padding: 10px;
  border: 1px dashed #495057;
  border-radius: 10px;
  max-width: 500px;
}

#bc-finestre {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 39, 43, 0.3);
  z-index: 1000;
  backdrop-filter: blur(4px);
}

/*# sourceMappingURL=main.css.map */
