/*
cd public/css
sass --watch main.scss:main.css
*/
/*
font e icone
*/
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,300,0,0");
* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
  background-color: #171414;
  color: #f5f5f5;
  font-family: "Rubik", sans-serif !important;
}

body {
  padding: 0;
  border: 0;
  font-family: "Rubik", sans-serif !important;
  color: #f5f5f5 !important;
}

.pagina {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 75px;
  max-width: 700px;
  width: 98%;
}

.material-symbols-rounded {
  font-size: 1.3em;
}

::-webkit-scrollbar {
  display: none;
}

.title-icon,
label,
.label {
  display: flex;
  gap: 5px;
  align-items: center;
}

label,
.label {
  margin: 7px 0 7px 0;
}
label .material-symbols-rounded,
.label .material-symbols-rounded {
  color: #878e54;
}
label input.input-text,
.label input.input-text {
  margin: 0;
  padding: 3px;
  background-color: transparent;
}

.flex {
  display: flex !important;
}
.flex .fg-1 {
  flex-grow: 1;
}
.flex .fg-2 {
  flex-grow: 2;
}
.flex .fg-3 {
  flex-grow: 3;
}
.flex .fg-4 {
  flex-grow: 4;
}
.flex .fg-5 {
  flex-grow: 5;
}
.flex .fg-6 {
  flex-grow: 6;
}
.flex .fg-7 {
  flex-grow: 7;
}
.flex .fg-8 {
  flex-grow: 8;
}
.flex .fg-9 {
  flex-grow: 9;
}
.flex .fg-10 {
  flex-grow: 10;
}
.flex.gap-25 {
  gap: 2.5px !important;
}
.flex.gap-50 {
  gap: 5px !important;
}
.flex.gap-75 {
  gap: 7.5px !important;
}
.flex.gap-100 {
  gap: 10px !important;
}
.flex.gap-125 {
  gap: 12.5px !important;
}
.flex.gap-150 {
  gap: 15px !important;
}
.flex.gap-175 {
  gap: 17.5px !important;
}
.flex.gap-200 {
  gap: 20px !important;
}
.flex.gap-225 {
  gap: 22.5px !important;
}
.flex.gap-250 {
  gap: 25px !important;
}
.flex.gap-275 {
  gap: 27.5px !important;
}
.flex.d-row {
  flex-direction: row;
}
.flex.d-column {
  flex-direction: column;
}
.flex.x-right {
  justify-content: right;
}
.flex.y-center {
  align-items: center;
}
.flex.x-center {
  justify-content: center;
}
.flex.stretch {
  justify-content: stretch;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.wrap.reverse {
  flex-wrap: wrap-reverse;
}
.flex.wrap.no {
  flex-wrap: nowrap;
}
.flex .last {
  margin-left: auto;
}

.m-0 {
  margin: 0px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.mx-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.m-3 {
  margin: 0.75rem !important;
}

.mt-3 {
  margin-top: 0.75rem !important;
}

.mr-3 {
  margin-right: 0.75rem !important;
}

.mb-3 {
  margin-bottom: 0.75rem !important;
}

.ml-3 {
  margin-left: 0.75rem !important;
}

.mx-3 {
  margin-left: 0.75rem !important;
  margin-right: 0.75rem !important;
}

.my-3 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
}

.m-4 {
  margin: 1rem !important;
}

.mt-4 {
  margin-top: 1rem !important;
}

.mr-4 {
  margin-right: 1rem !important;
}

.mb-4 {
  margin-bottom: 1rem !important;
}

.ml-4 {
  margin-left: 1rem !important;
}

.mx-4 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.my-4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.m-5 {
  margin: 1.25rem !important;
}

.mt-5 {
  margin-top: 1.25rem !important;
}

.mr-5 {
  margin-right: 1.25rem !important;
}

.mb-5 {
  margin-bottom: 1.25rem !important;
}

.ml-5 {
  margin-left: 1.25rem !important;
}

.mx-5 {
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important;
}

.my-5 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important;
}

.m-6 {
  margin: 1.5rem !important;
}

.mt-6 {
  margin-top: 1.5rem !important;
}

.mr-6 {
  margin-right: 1.5rem !important;
}

.mb-6 {
  margin-bottom: 1.5rem !important;
}

.ml-6 {
  margin-left: 1.5rem !important;
}

.mx-6 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.my-6 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.none {
  display: none;
}

h1,
h2,
h3,
h4,
h5 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0.5em 0 0.3em 0;
}
h1.icon .material-symbols-rounded,
h2.icon .material-symbols-rounded,
h3.icon .material-symbols-rounded,
h4.icon .material-symbols-rounded,
h5.icon .material-symbols-rounded {
  color: #878e54;
}
h1.icon .material-symbols-rounded.warning,
h2.icon .material-symbols-rounded.warning,
h3.icon .material-symbols-rounded.warning,
h4.icon .material-symbols-rounded.warning,
h5.icon .material-symbols-rounded.warning {
  color: #eead71 !important;
}
h1 .logo,
h2 .logo,
h3 .logo,
h4 .logo,
h5 .logo {
  width: 1.5em;
  margin: 5px;
}
h1.code,
h2.code,
h3.code,
h4.code,
h5.code {
  font-family: "JetBrains Mono", monospace;
  justify-content: center;
  letter-spacing: 10px;
  color: #878e54;
}

.color.warn {
  color: #eead71 !important;
}
.color.danger {
  color: #ee7184 !important;
}

p {
  font-size: 1em;
  color: #f5f5f5;
  margin: 0.5em auto;
  line-height: 1.5;
}
p a {
  color: #738e54;
  text-decoration: none;
  border-bottom: 1px dashed #738e54;
  cursor: pointer;
}
p a:hover {
  border-bottom: 1px solid #738e54;
}
p b {
  color: #878e54;
  font-weight: normal;
}
p.center {
  text-align: center;
}
p.secondary {
  color: #888;
}
p.description {
  color: #888;
  font-size: 0.9em;
}

colored {
  color: #878e54;
}

.fs-l {
  font-size: 1.2em;
}

.slider {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

hr {
  margin: 1rem 0;
  color: #584d4d;
  border: 0;
  border-top: 1px solid #584d4d;
}
hr.dashed {
  background-color: transparent;
  border-bottom: 1px dashed #584d4d;
}
hr.s {
  width: 90%;
}

.btn {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  padding: 8px 10px;
  border-radius: 8px;
  border: none;
  transition: 0.2s;
  cursor: pointer;
  color: #f5f5f5;
  font-size: 1em;
  font-weight: normal !important;
}
.btn:disabled {
  opacity: 0.5;
  cursor: default;
}
.btn.gap-0 {
  gap: 0;
}
.btn.primary {
  background-color: rgba(135, 142, 84, 0.15);
  color: #969e5d;
}
.btn.primary:hover {
  background-color: rgba(135, 142, 84, 0.2);
}
.btn.secondary {
  background-color: #383030;
  color: #ddd;
}
.btn.secondary:hover {
  background-color: #403838;
  color: #f5f5f5;
}
.btn.warning {
  background-color: rgba(238, 173, 113, 0.2);
  color: #eead71;
}
.btn.warning:hover {
  background-color: rgba(238, 173, 113, 0.3);
}
.btn.danger {
  background-color: rgba(236, 55, 82, 0.2);
  color: #ee7184;
}
.btn.danger:hover {
  background-color: rgba(236, 55, 82, 0.3);
}
.btn.red {
  background-color: rgba(247, 167, 160, 0.2);
  color: #F7A7A0;
}
.btn.red:hover {
  background-color: rgba(247, 167, 160, 0.3);
}
.btn.yellow {
  background-color: rgba(238, 196, 113, 0.2);
  color: #eec471;
}
.btn.yellow:hover {
  background-color: rgba(238, 196, 113, 0.3);
}
.btn.orange {
  background-color: rgba(229, 158, 122, 0.2);
  color: #e59e7a;
}
.btn.orange:hover {
  background-color: rgba(229, 158, 122, 0.3);
}
.btn.peach {
  background-color: rgba(255, 214, 165, 0.2);
  color: #FFD6A5;
}
.btn.peach:hover {
  background-color: rgba(255, 214, 165, 0.3);
}
.btn.purple {
  background-color: rgba(211, 180, 255, 0.2);
  color: #D3B4FF;
}
.btn.purple:hover {
  background-color: rgba(211, 180, 255, 0.3);
}
.btn.pink {
  background-color: rgba(255, 183, 197, 0.2);
  color: #FFB7C5;
}
.btn.pink:hover {
  background-color: rgba(255, 183, 197, 0.3);
}
.btn.mint {
  background-color: rgba(174, 229, 216, 0.2);
  color: #AEE5D8;
}
.btn.mint:hover {
  background-color: rgba(174, 229, 216, 0.3);
}
.btn.blue {
  background-color: rgba(125, 186, 255, 0.2);
  color: #7dbaff;
}
.btn.blue:hover {
  background-color: rgba(125, 186, 255, 0.3);
}
.btn.lightblue {
  background-color: rgba(168, 216, 255, 0.2);
  color: #A8D8FF;
}
.btn.lightblue:hover {
  background-color: rgba(168, 216, 255, 0.3);
}
.btn.lightgray {
  background-color: rgba(224, 224, 224, 0.2);
  color: #E0E0E0;
}
.btn.lightgray:hover {
  background-color: rgba(224, 224, 224, 0.3);
}
.btn.olivegreen {
  background-color: rgba(185, 209, 156, 0.2);
  color: #B9D19C;
}
.btn.olivegreen:hover {
  background-color: rgba(185, 209, 156, 0.3);
}
.btn.t {
  background-color: transparent;
  color: #888;
}
.btn.t:hover {
  box-shadow: 0 0 0 4px #383030;
  color: #f5f5f5;
}
.btn.t:active {
  box-shadow: 0 0 0 6px #383030;
}
.btn.s {
  font-size: 0.9em;
  padding: 4px 7px;
}
.btn.l {
  font-size: 1.2em;
}
.btn.xl {
  font-size: 1.5em;
}
.btn.close.last {
  padding: 3px;
}

.window {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  padding: 10px;
  border-radius: 8px;
  max-height: 98%;
  max-width: 950px;
  width: 95%;
  min-height: 100px;
  overflow-y: scroll;
  z-index: 10;
  background-color: #272222;
  transition: all 200ms cubic-bezier(1, 0, 1, 1);
  opacity: 0;
}
.window.pt {
  top: -100%;
}
.window.pl {
  top: 50%;
  right: 100%;
  transform: translate(50%, -50%) scale(0);
  left: unset;
}
.window.pl.show {
  right: 50%;
  left: unset;
  transform: translate(50%, -50%) scale(1);
}
.window.pr {
  top: 50%;
  left: 100%;
}
.window.show {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: all 200ms cubic-bezier(0, 0, 0, 1);
  opacity: 1;
}
.window.auto {
  overflow: hidden !important;
  width: auto;
  height: auto;
}
.window.s {
  max-width: 400px;
}
.window.m {
  max-width: 500px;
}

.maincolor {
  /*
  COLORI PRINCIPALI
  */
}
.maincolor.red h2 .material-symbols-rounded,
.maincolor.red h3 .material-symbols-rounded {
  color: #F7A7A0;
}
.maincolor.red p colored {
  color: #F7A7A0;
}
.maincolor.red form label .material-symbols-rounded {
  color: #F7A7A0;
}
.maincolor.red form .input-text:hover {
  box-shadow: 0 0 0 1px rgba(247, 167, 160, 0.2);
}
.maincolor.red form .input-text:focus {
  box-shadow: 0 0 0 4px rgba(247, 167, 160, 0.2);
}
.maincolor.red form .container-input-text:has(textarea:hover) {
  box-shadow: 0 0 0 1px rgba(247, 167, 160, 0.2);
}
.maincolor.red form .container-input-text:has(textarea:focus) {
  box-shadow: 0 0 0 4px rgba(247, 167, 160, 0.2);
}
.maincolor.red .btn.primary {
  color: #F7A7A0 !important;
  background-color: rgba(247, 167, 160, 0.2);
}
.maincolor.red .btn.primary:hover {
  background-color: rgba(247, 167, 160, 0.3);
}
.maincolor.red .input-switch input:checked + label {
  background-color: rgba(247, 167, 160, 0.5);
}
.maincolor.yellow h2 .material-symbols-rounded,
.maincolor.yellow h3 .material-symbols-rounded {
  color: #eec471;
}
.maincolor.yellow p colored {
  color: #eec471;
}
.maincolor.yellow form label .material-symbols-rounded {
  color: #eec471;
}
.maincolor.yellow form .input-text:hover {
  box-shadow: 0 0 0 1px rgba(238, 196, 113, 0.2);
}
.maincolor.yellow form .input-text:focus {
  box-shadow: 0 0 0 4px rgba(238, 196, 113, 0.2);
}
.maincolor.yellow form .container-input-text:has(textarea:hover) {
  box-shadow: 0 0 0 1px rgba(238, 196, 113, 0.2);
}
.maincolor.yellow form .container-input-text:has(textarea:focus) {
  box-shadow: 0 0 0 4px rgba(238, 196, 113, 0.2);
}
.maincolor.yellow .btn.primary {
  color: #eec471 !important;
  background-color: rgba(238, 196, 113, 0.2);
}
.maincolor.yellow .btn.primary:hover {
  background-color: rgba(238, 196, 113, 0.3);
}
.maincolor.yellow .input-switch input:checked + label {
  background-color: rgba(238, 196, 113, 0.5);
}
.maincolor.orange h2 .material-symbols-rounded,
.maincolor.orange h3 .material-symbols-rounded {
  color: #e59e7a;
}
.maincolor.orange p colored {
  color: #e59e7a;
}
.maincolor.orange form label .material-symbols-rounded {
  color: #e59e7a;
}
.maincolor.orange form .input-text:hover {
  box-shadow: 0 0 0 1px rgba(229, 158, 122, 0.2);
}
.maincolor.orange form .input-text:focus {
  box-shadow: 0 0 0 4px rgba(229, 158, 122, 0.2);
}
.maincolor.orange form .container-input-text:has(textarea:hover) {
  box-shadow: 0 0 0 1px rgba(229, 158, 122, 0.2);
}
.maincolor.orange form .container-input-text:has(textarea:focus) {
  box-shadow: 0 0 0 4px rgba(229, 158, 122, 0.2);
}
.maincolor.orange .btn.primary {
  color: #e59e7a !important;
  background-color: rgba(229, 158, 122, 0.2);
}
.maincolor.orange .btn.primary:hover {
  background-color: rgba(229, 158, 122, 0.3);
}
.maincolor.orange .input-switch input:checked + label {
  background-color: rgba(229, 158, 122, 0.5);
}
.maincolor.peach h2 .material-symbols-rounded,
.maincolor.peach h3 .material-symbols-rounded {
  color: #FFD6A5;
}
.maincolor.peach p colored {
  color: #FFD6A5;
}
.maincolor.peach form label .material-symbols-rounded {
  color: #FFD6A5;
}
.maincolor.peach form .input-text:hover {
  box-shadow: 0 0 0 1px rgba(255, 214, 165, 0.2);
}
.maincolor.peach form .input-text:focus {
  box-shadow: 0 0 0 4px rgba(255, 214, 165, 0.2);
}
.maincolor.peach form .container-input-text:has(textarea:hover) {
  box-shadow: 0 0 0 1px rgba(255, 214, 165, 0.2);
}
.maincolor.peach form .container-input-text:has(textarea:focus) {
  box-shadow: 0 0 0 4px rgba(255, 214, 165, 0.2);
}
.maincolor.peach .btn.primary {
  color: #FFD6A5 !important;
  background-color: rgba(255, 214, 165, 0.2);
}
.maincolor.peach .btn.primary:hover {
  background-color: rgba(255, 214, 165, 0.3);
}
.maincolor.peach .input-switch input:checked + label {
  background-color: rgba(255, 214, 165, 0.5);
}
.maincolor.purple h2 .material-symbols-rounded,
.maincolor.purple h3 .material-symbols-rounded {
  color: #D3B4FF;
}
.maincolor.purple p colored {
  color: #D3B4FF;
}
.maincolor.purple form label .material-symbols-rounded {
  color: #D3B4FF;
}
.maincolor.purple form .input-text:hover {
  box-shadow: 0 0 0 1px rgba(211, 180, 255, 0.2);
}
.maincolor.purple form .input-text:focus {
  box-shadow: 0 0 0 4px rgba(211, 180, 255, 0.2);
}
.maincolor.purple form .container-input-text:has(textarea:hover) {
  box-shadow: 0 0 0 1px rgba(211, 180, 255, 0.2);
}
.maincolor.purple form .container-input-text:has(textarea:focus) {
  box-shadow: 0 0 0 4px rgba(211, 180, 255, 0.2);
}
.maincolor.purple .btn.primary {
  color: #D3B4FF !important;
  background-color: rgba(211, 180, 255, 0.2);
}
.maincolor.purple .btn.primary:hover {
  background-color: rgba(211, 180, 255, 0.3);
}
.maincolor.purple .input-switch input:checked + label {
  background-color: rgba(211, 180, 255, 0.5);
}
.maincolor.pink h2 .material-symbols-rounded,
.maincolor.pink h3 .material-symbols-rounded {
  color: #FFB7C5;
}
.maincolor.pink p colored {
  color: #FFB7C5;
}
.maincolor.pink form label .material-symbols-rounded {
  color: #FFB7C5;
}
.maincolor.pink form .input-text:hover {
  box-shadow: 0 0 0 1px rgba(255, 183, 197, 0.2);
}
.maincolor.pink form .input-text:focus {
  box-shadow: 0 0 0 4px rgba(255, 183, 197, 0.2);
}
.maincolor.pink form .container-input-text:has(textarea:hover) {
  box-shadow: 0 0 0 1px rgba(255, 183, 197, 0.2);
}
.maincolor.pink form .container-input-text:has(textarea:focus) {
  box-shadow: 0 0 0 4px rgba(255, 183, 197, 0.2);
}
.maincolor.pink .btn.primary {
  color: #FFB7C5 !important;
  background-color: rgba(255, 183, 197, 0.2);
}
.maincolor.pink .btn.primary:hover {
  background-color: rgba(255, 183, 197, 0.3);
}
.maincolor.pink .input-switch input:checked + label {
  background-color: rgba(255, 183, 197, 0.5);
}
.maincolor.mint h2 .material-symbols-rounded,
.maincolor.mint h3 .material-symbols-rounded {
  color: #AEE5D8;
}
.maincolor.mint p colored {
  color: #AEE5D8;
}
.maincolor.mint form label .material-symbols-rounded {
  color: #AEE5D8;
}
.maincolor.mint form .input-text:hover {
  box-shadow: 0 0 0 1px rgba(174, 229, 216, 0.2);
}
.maincolor.mint form .input-text:focus {
  box-shadow: 0 0 0 4px rgba(174, 229, 216, 0.2);
}
.maincolor.mint form .container-input-text:has(textarea:hover) {
  box-shadow: 0 0 0 1px rgba(174, 229, 216, 0.2);
}
.maincolor.mint form .container-input-text:has(textarea:focus) {
  box-shadow: 0 0 0 4px rgba(174, 229, 216, 0.2);
}
.maincolor.mint .btn.primary {
  color: #AEE5D8 !important;
  background-color: rgba(174, 229, 216, 0.2);
}
.maincolor.mint .btn.primary:hover {
  background-color: rgba(174, 229, 216, 0.3);
}
.maincolor.mint .input-switch input:checked + label {
  background-color: rgba(174, 229, 216, 0.5);
}
.maincolor.blue h2 .material-symbols-rounded,
.maincolor.blue h3 .material-symbols-rounded {
  color: #7dbaff;
}
.maincolor.blue p colored {
  color: #7dbaff;
}
.maincolor.blue form label .material-symbols-rounded {
  color: #7dbaff;
}
.maincolor.blue form .input-text:hover {
  box-shadow: 0 0 0 1px rgba(125, 186, 255, 0.2);
}
.maincolor.blue form .input-text:focus {
  box-shadow: 0 0 0 4px rgba(125, 186, 255, 0.2);
}
.maincolor.blue form .container-input-text:has(textarea:hover) {
  box-shadow: 0 0 0 1px rgba(125, 186, 255, 0.2);
}
.maincolor.blue form .container-input-text:has(textarea:focus) {
  box-shadow: 0 0 0 4px rgba(125, 186, 255, 0.2);
}
.maincolor.blue .btn.primary {
  color: #7dbaff !important;
  background-color: rgba(125, 186, 255, 0.2);
}
.maincolor.blue .btn.primary:hover {
  background-color: rgba(125, 186, 255, 0.3);
}
.maincolor.blue .input-switch input:checked + label {
  background-color: rgba(125, 186, 255, 0.5);
}
.maincolor.lightblue h2 .material-symbols-rounded,
.maincolor.lightblue h3 .material-symbols-rounded {
  color: #A8D8FF;
}
.maincolor.lightblue p colored {
  color: #A8D8FF;
}
.maincolor.lightblue form label .material-symbols-rounded {
  color: #A8D8FF;
}
.maincolor.lightblue form .input-text:hover {
  box-shadow: 0 0 0 1px rgba(168, 216, 255, 0.2);
}
.maincolor.lightblue form .input-text:focus {
  box-shadow: 0 0 0 4px rgba(168, 216, 255, 0.2);
}
.maincolor.lightblue form .container-input-text:has(textarea:hover) {
  box-shadow: 0 0 0 1px rgba(168, 216, 255, 0.2);
}
.maincolor.lightblue form .container-input-text:has(textarea:focus) {
  box-shadow: 0 0 0 4px rgba(168, 216, 255, 0.2);
}
.maincolor.lightblue .btn.primary {
  color: #A8D8FF !important;
  background-color: rgba(168, 216, 255, 0.2);
}
.maincolor.lightblue .btn.primary:hover {
  background-color: rgba(168, 216, 255, 0.3);
}
.maincolor.lightblue .input-switch input:checked + label {
  background-color: rgba(168, 216, 255, 0.5);
}
.maincolor.lightgray h2 .material-symbols-rounded,
.maincolor.lightgray h3 .material-symbols-rounded {
  color: #E0E0E0;
}
.maincolor.lightgray p colored {
  color: #E0E0E0;
}
.maincolor.lightgray form label .material-symbols-rounded {
  color: #E0E0E0;
}
.maincolor.lightgray form .input-text:hover {
  box-shadow: 0 0 0 1px rgba(224, 224, 224, 0.2);
}
.maincolor.lightgray form .input-text:focus {
  box-shadow: 0 0 0 4px rgba(224, 224, 224, 0.2);
}
.maincolor.lightgray form .container-input-text:has(textarea:hover) {
  box-shadow: 0 0 0 1px rgba(224, 224, 224, 0.2);
}
.maincolor.lightgray form .container-input-text:has(textarea:focus) {
  box-shadow: 0 0 0 4px rgba(224, 224, 224, 0.2);
}
.maincolor.lightgray .btn.primary {
  color: #E0E0E0 !important;
  background-color: rgba(224, 224, 224, 0.2);
}
.maincolor.lightgray .btn.primary:hover {
  background-color: rgba(224, 224, 224, 0.3);
}
.maincolor.lightgray .input-switch input:checked + label {
  background-color: rgba(224, 224, 224, 0.5);
}
.maincolor.olivegreen h2 .material-symbols-rounded,
.maincolor.olivegreen h3 .material-symbols-rounded {
  color: #B9D19C;
}
.maincolor.olivegreen p colored {
  color: #B9D19C;
}
.maincolor.olivegreen form label .material-symbols-rounded {
  color: #B9D19C;
}
.maincolor.olivegreen form .input-text:hover {
  box-shadow: 0 0 0 1px rgba(185, 209, 156, 0.2);
}
.maincolor.olivegreen form .input-text:focus {
  box-shadow: 0 0 0 4px rgba(185, 209, 156, 0.2);
}
.maincolor.olivegreen form .container-input-text:has(textarea:hover) {
  box-shadow: 0 0 0 1px rgba(185, 209, 156, 0.2);
}
.maincolor.olivegreen form .container-input-text:has(textarea:focus) {
  box-shadow: 0 0 0 4px rgba(185, 209, 156, 0.2);
}
.maincolor.olivegreen .btn.primary {
  color: #B9D19C !important;
  background-color: rgba(185, 209, 156, 0.2);
}
.maincolor.olivegreen .btn.primary:hover {
  background-color: rgba(185, 209, 156, 0.3);
}
.maincolor.olivegreen .input-switch input:checked + label {
  background-color: rgba(185, 209, 156, 0.5);
}

.isle {
  padding: 8px;
  border-radius: 8px;
}
.isle.s {
  max-width: 400px;
}
.isle.m {
  max-width: 500px;
}
.isle.l {
  max-width: 600px;
}
.isle.bg-1 {
  background-color: #171414;
}
.isle.bg-2 {
  background-color: #1f1b1b;
}
.isle.bg-3 {
  background-color: #272222;
}
.isle.bg-4 {
  background-color: #302929;
}
.isle.bg-5 {
  background-color: #383030;
}
.isle.bg-6 {
  background-color: #403838;
}
.isle.bg-7 {
  background-color: #483f3f;
}
.isle.br-m {
  border-radius: 8px;
}
.isle.br-l {
  border-radius: 14px;
}
.isle.br-xl {
  border-radius: 23px;
}

.alert {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: row;
}
.alert .icon {
  font-size: 1.7em;
  margin-left: 2px;
}
.alert p {
  margin: 0;
}
.alert.danger {
  background-color: rgba(247, 167, 160, 0.1);
  color: #F7A7A0 !important;
}
.alert.danger p {
  color: #F7A7A0;
}
.alert.warning {
  background-color: rgba(238, 173, 113, 0.1);
  color: #eead71 !important;
}
.alert.warning p {
  color: #eead71;
}
.alert.success {
  background-color: rgba(185, 209, 156, 0.1);
  color: #B9D19C !important;
}
.alert.success p {
  color: #B9D19C;
}

.trans.rotate._90 {
  transform: rotate(90deg);
}
.trans.rotate._180 {
  transform: rotate(180deg);
}

monospace,
.monospace {
  font-family: "JetBrains Mono", monospace;
}

.mfa {
  font-family: "JetBrains Mono", monospace;
  letter-spacing: 5px;
  font-weight: normal;
}

.input-text, .container-input-text {
  display: block;
  margin: 0 auto;
  padding: 8px;
  border-radius: 8px;
  transition: 0.2s;
  outline: none;
  background-color: #171414;
  border: none;
  color: #f5f5f5;
  width: 100%;
  font-size: 1em;
  resize: none;
}
.input-text.fs-l, .container-input-text.fs-l {
  font-size: 1.2em;
}
.input-text.nb, .container-input-text.nb {
  border-radius: 0;
}
.input-text.uppercase, .container-input-text.uppercase {
  text-transform: uppercase;
}
.input-text:read-only, .container-input-text:read-only {
  cursor: default;
}
.input-text[disabled], .container-input-text[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  color: #888;
}
.input-text.mfa, .container-input-text.mfa {
  letter-spacing: 0.5em;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
}
.input-text.bg-2, .container-input-text.bg-2 {
  background-color: #272222;
}
.input-text.mono, .container-input-text.mono {
  font-family: "JetBrains Mono", monospace;
}

.container-input-text {
  padding: 0;
  overflow: hidden;
}
.container-input-text textarea {
  display: block;
  border: none;
  outline: none;
  border-radius: 0;
  background-color: transparent;
  color: #f5f5f5;
  font-size: 1em;
  width: 100%;
  margin: 0;
  padding: 8px;
  resize: none;
}
.container-input-text:has(textarea:hover) {
  box-shadow: 0 0 0 1px rgba(135, 142, 84, 0.2);
}
.container-input-text:has(textarea:focus) {
  box-shadow: 0 0 0 4px rgba(135, 142, 84, 0.2);
}

.input-text:hover {
  box-shadow: 0 0 0 1px rgba(135, 142, 84, 0.2);
}
.input-text:focus {
  box-shadow: 0 0 0 4px rgba(135, 142, 84, 0.2);
}

.input-switch {
  display: inline-block;
  position: relative;
}
.input-switch label {
  display: block;
  width: 2.4em;
  height: 1.2em;
  background-color: #584d4d;
  border-radius: 0.9em;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease;
}
.input-switch label::before {
  content: "";
  position: absolute;
  top: 0.15em;
  left: 0.15em;
  width: 0.9em;
  height: 0.9em;
  background-color: #f5f5f5;
  border-radius: 50%;
  transition: left 0.2s ease;
}
.input-switch input {
  display: none;
}
.input-switch input:checked + label {
  background-color: rgba(135, 142, 84, 0.5);
}
.input-switch input:checked + label::before {
  left: 1.35em;
}

input[type=range] {
  appearance: none;
  width: 95%;
  height: 0.2rem;
  outline: none;
  border-radius: 0.2rem;
  display: block;
  margin: 15px auto;
  background-color: #878e54;
}
input[type=range]::-webkit-slider-thumb {
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #878e54;
  border: 0.2rem solid #878e54;
  background-color: #f5f5f5;
  border-radius: 1.25rem;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.navbar a {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #f5f5f5;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.1s;
  cursor: pointer;
}
.navbar a.red span {
  color: #F7A7A0;
}
.navbar a.red:hover {
  background-color: rgba(247, 167, 160, 0.1);
}
.navbar a.yellow span {
  color: #eec471;
}
.navbar a.yellow:hover {
  background-color: rgba(238, 196, 113, 0.1);
}
.navbar a.orange span {
  color: #e59e7a;
}
.navbar a.orange:hover {
  background-color: rgba(229, 158, 122, 0.1);
}
.navbar a.peach span {
  color: #FFD6A5;
}
.navbar a.peach:hover {
  background-color: rgba(255, 214, 165, 0.1);
}
.navbar a.purple span {
  color: #D3B4FF;
}
.navbar a.purple:hover {
  background-color: rgba(211, 180, 255, 0.1);
}
.navbar a.pink span {
  color: #FFB7C5;
}
.navbar a.pink:hover {
  background-color: rgba(255, 183, 197, 0.1);
}
.navbar a.mint span {
  color: #AEE5D8;
}
.navbar a.mint:hover {
  background-color: rgba(174, 229, 216, 0.1);
}
.navbar a.blue span {
  color: #7dbaff;
}
.navbar a.blue:hover {
  background-color: rgba(125, 186, 255, 0.1);
}
.navbar a.lightblue span {
  color: #A8D8FF;
}
.navbar a.lightblue:hover {
  background-color: rgba(168, 216, 255, 0.1);
}
.navbar a.lightgray span {
  color: #E0E0E0;
}
.navbar a.lightgray:hover {
  background-color: rgba(224, 224, 224, 0.1);
}
.navbar a.olivegreen span {
  color: #B9D19C;
}
.navbar a.olivegreen:hover {
  background-color: rgba(185, 209, 156, 0.1);
}
.navbar a i {
  font-style: normal;
}
.navbar a span {
  color: #878e54;
}
.navbar a:hover {
  background-color: rgba(135, 142, 84, 0.1);
}

vortex-navbar {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  background-color: #272222;
  box-shadow: 0 0 0 1px #383030;
  position: fixed;
  top: 7px;
  left: 7px;
  width: calc(100% - 14px);
}
vortex-navbar .logo {
  height: 30px;
  padding: 0 10px;
}

#sudo-indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.2s;
  margin-left: auto;
  margin-right: 20px;
  cursor: default;
  color: #888;
}
#sudo-indicator.base {
  color: #878e54;
}
#sudo-indicator.sudo {
  color: #eead71;
}

#accedi,
#registrati {
  display: block;
  margin: 20px auto;
  background-color: #1f1b1b;
  padding: 10px;
  border-radius: 10px;
  max-width: 500px;
}

#logs_container {
  position: fixed;
  bottom: 5px;
  left: 5px;
  display: flex;
  gap: 5px;
  z-index: 2050;
  max-width: 350px;
  flex-wrap: wrap;
}
#logs_container log-info {
  position: relative;
  padding: 6px 8px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 23px;
  overflow: hidden;
  --bc-log: $bg-1;
  --i-color: $text-color;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  animation: bounce 500ms linear both;
  cursor: pointer;
}
#logs_container log-info .log-container {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  min-width: 200px;
  max-width: 350px;
}
#logs_container log-info.chiudi {
  animation: bounce-out 500ms linear both;
}
#logs_container log-info p {
  margin: 0;
  color: #f5f5f5;
}
#logs_container log-info._0 {
  background-color: rgba(185, 209, 156, 0.3);
  color: #B9D19C;
}
#logs_container log-info._0::after {
  background-color: #B9D19C;
}
#logs_container log-info._1 {
  background-color: rgba(238, 173, 113, 0.3);
  color: #e59e7a;
}
#logs_container log-info._1::after {
  background-color: #e59e7a;
}
#logs_container log-info._2 {
  background-color: rgba(238, 113, 132, 0.3);
  color: #F7A7A0;
}
#logs_container log-info._2::after {
  background-color: #F7A7A0;
}
#logs_container log-info._3 {
  background-color: rgba(174, 229, 216, 0.3);
  color: #AEE5D8;
}
#logs_container log-info._3::after {
  background-color: #AEE5D8;
}
#logs_container log-info .i-container {
  height: 100%;
  display: flex;
  align-items: center;
}
#logs_container log-info .i-container i,
#logs_container log-info .i-container .material-symbols-rounded {
  font-size: calc(1em + 8px);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}
#logs_container log-info::after, #logs_container log-info::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0;
}
#logs_container log-info::after {
  width: 100%;
  border-radius: 0 5px 0 0;
  animation: log_bar 8s linear 0s 1;
}
#logs_container log-info::before {
  width: 100%;
}

#vaults-list {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
}
#vaults-list .group {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding: 8px;
  border-radius: 23px;
  background-color: #1f1b1b;
}
#vaults-list .checkpoint {
  width: 100%;
  font-size: calc(1.2em + 2px);
  font-family: "JetBrains Mono", monospace;
  text-align: center;
  padding-top: 10px;
  cursor: default;
}
#vaults-list.searching {
  padding: 8px 8px 2.5px 8px;
  border-radius: 23px;
  background-color: #1f1b1b;
  gap: 0;
}
#vaults-list.searching .checkpoint {
  display: none;
}
#vaults-list.searching .group {
  background-color: transparent;
  padding: 0;
  gap: 0;
  flex-direction: column;
}
#vaults-list.searching .group vault-li {
  margin-bottom: 7.5px;
}
#vaults-list.list .group {
  flex-direction: column;
}
#vaults-list vault-li {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 14px;
  background-color: #272222;
  transition: 0.15s;
  flex-grow: 1;
}
#vaults-list vault-li:hover {
  background-color: #302929;
}
#vaults-list vault-li .simbolo {
  color: #878e54;
  font-size: 1.5em;
  padding: 5px;
  display: flex;
  align-items: center;
}
#vaults-list vault-li .simbolo.red {
  color: #F7A7A0;
}
#vaults-list vault-li .simbolo.yellow {
  color: #eec471;
}
#vaults-list vault-li .simbolo.orange {
  color: #e59e7a;
}
#vaults-list vault-li .simbolo.peach {
  color: #FFD6A5;
}
#vaults-list vault-li .simbolo.purple {
  color: #D3B4FF;
}
#vaults-list vault-li .simbolo.pink {
  color: #FFB7C5;
}
#vaults-list vault-li .simbolo.mint {
  color: #AEE5D8;
}
#vaults-list vault-li .simbolo.blue {
  color: #7dbaff;
}
#vaults-list vault-li .simbolo.lightblue {
  color: #A8D8FF;
}
#vaults-list vault-li .simbolo.lightgray {
  color: #E0E0E0;
}
#vaults-list vault-li .simbolo.olivegreen {
  color: #B9D19C;
}
#vaults-list vault-li .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#vaults-list vault-li .info i {
  font-family: "JetBrains Mono", monospace !important;
}
#vaults-list vault-li .info strong {
  font-weight: normal;
  font-size: calc(1em + 3px);
}
#vaults-list vault-li .info i {
  font-style: normal;
  font-size: 1em;
  color: #888;
}

.custom-sections.emt custom-vault-section {
  margin-top: 0.5rem;
}
.custom-sections.emb custom-vault-section {
  margin-bottom: 0.5rem;
}
.custom-sections custom-vault-section {
  background-color: #302929;
  padding: 0 7px 7px 7px;
  border-radius: 8px;
}
.custom-sections custom-vault-section .remove-custom-section {
  padding: 3px;
}
.custom-sections custom-vault-section .remove-custom-section .material-symbols-rounded {
  color: #888;
}

colored-password i {
  font-style: normal !important;
  font-family: "JetBrains Mono", monospace !important;
}
colored-password i.az {
  color: bisque;
}
colored-password i.AZ {
  color: rgb(164, 164, 30);
}
colored-password i._09 {
  color: salmon;
}
colored-password i._s {
  color: lightskyblue;
}
colored-password.l {
  font-size: 1.2em;
}

password-strength-bar {
  display: flex;
  margin: 10px auto;
  width: 100%;
  overflow: hidden;
  background-color: #272222;
  padding: 5px;
  border-radius: 5px;
  font-size: 1em;
}
password-strength-bar.fs-l {
  font-size: 1.2em;
}
password-strength-bar .bar {
  overflow: hidden;
  border-radius: 5px;
  padding: 4px;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-family: "JetBrains Mono", monospace;
}
password-strength-bar .bar._1 {
  background-color: rgba(238, 113, 132, 0.3);
  color: #ee7184;
}
password-strength-bar .bar._2 {
  background-color: rgba(238, 173, 113, 0.3);
  color: #eead71;
}
password-strength-bar .bar._3 {
  background-color: rgba(115, 142, 84, 0.3);
  color: #738e54;
}
password-strength-bar .bar._4 {
  background-color: rgba(135, 142, 84, 0.3);
  color: #878e54;
}

#devices-list,
#passkey-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

device-list-item,
passkey-list-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
  background-color: #302929;
}
device-list-item .token-id,
passkey-list-item .token-id {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #888;
  font-size: 0.9em;
}
device-list-item .token-id i,
passkey-list-item .token-id i {
  font-family: "JetBrains Mono", monospace !important;
  font-style: normal !important;
}
device-list-item.current .token-id,
passkey-list-item.current .token-id {
  color: #D3B4FF;
}
device-list-item .info,
passkey-list-item .info {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

#qrcode-2fa-secret,
#qrcode-fsi {
  display: block;
  margin: 0 auto;
  height: 0;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 20, 20, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: none;
}
#loader .full {
  width: 100%;
  height: 100%;
}

#loader svg {
  width: calc((15vw + 15vh) / 2);
  animation: ease-out loader infinite 2s;
}
#loader .material-symbols-rounded {
  font-size: calc((12vw + 12vh) / 2);
  animation: linear spin infinite 0.5s;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 20, 20, 0.7);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s ease, visibility 0.15s ease;
}
#modal-backdrop.show {
  opacity: 1;
  visibility: visible;
}

@keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes bounce-out {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.51% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.74% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  47.85% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  58.96% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  64.46% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  70.07% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.68% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  81.28% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.89% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.59% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  95.3% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes log_bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@media screen and (max-width: 730px) {
  .pagina {
    margin-top: 0;
    margin-bottom: 70px;
  }
  vortex-navbar {
    position: fixed;
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
  }
  vortex-navbar .navbar {
    width: 100%;
    flex-wrap: nowrap;
  }
  vortex-navbar .navbar a {
    justify-content: center;
    flex-grow: 1;
    font-size: 1.2em;
  }
  vortex-navbar .navbar a i {
    display: none;
  }
  vortex-navbar #sudo-indicator {
    display: none;
  }
  .btn .text {
    display: none;
  }
  #logs_container {
    bottom: 60px;
  }
}

/*# sourceMappingURL=main.css.map */
