@media screen and (max-width: 700px) {
    .pagina {
        margin-bottom: 70px;
    }

    vortex-navbar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        box-shadow: 0 0 5px 0 $bg-2;
        
        .navbar {
            width: 100%;
            flex-wrap: nowrap;

            a {
                justify-content: center;
                flex-grow: 1;
                font-size: $fs-l;

                i {
                    display: none;
                }
            }
        }

        #sudo-indicator {
            display: none;
        }
    }
}