@media screen and (max-width: 730px) {
    .pagina {
        margin-top: 0;
        margin-bottom: 70px;
    }

    vortex-navbar {
        position: fixed;
        top: unset;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        
        .navbar {
            width: 100%;
            flex-wrap: nowrap;

            a {
                justify-content: center;
                flex-grow: 1;
                font-size: $fs-l;

                i {
                    display: none;
                }
            }
        }

        #sudo-indicator {
            display: none;
        }
    }

    #logs_container {
        bottom: 60px;
    }
}