// font
$font-family: 'Rubik', sans-serif;
$monospace: 'JetBrains Mono', monospace;
$text-color: #f5f5f5;
$text-color-15: #ddd;
$text-color-2: #888;
$text-color-21: #555;
// grandezze font
$fs-s: 0.9em;
$fs-m: 1em;
$fs-l: 1.2em;
$fs-xl: 1.5em;
$fs-xxl: 1.7em;
$fs-xxxl: 2em;
// border radius
$br-s: 5px;
$br-m: 8px;
$br-l: 14px;
$br-xl: 23px;