$c1: #878e54;
$c2: #738e54;
$c3: #35322A;
// colori
$c-danger: rgb(238, 113, 132);
$c-warning: rgb(238, 173, 113);
$-c-orange-red: #D63B29;
// font
$font-family: 'Rubik', sans-serif;
$monospace: 'JetBrains Mono', monospace;
$text-color: #f5f5f5;
$text-color-15: #ddd;
$text-color-2: #888;
$text-color-21: #555;
// grandezze font
$fs-s: 0.9em;
$fs-m: 1em;
$fs-l: 1.2em;
$fs-xl: 1.5em;
$fs-xxl: 1.7em;
$fs-xxxl: 2em;
// sfondo
$bg-1: #171414;
// $bg-15: #1D1818;
// $bg-2: #221D1D;
// $bg-3: #272222;
// $bg-4: #2C2727;
// $bg-5: #312C2C;
// $bg-6: #312C2C;
$bg-15: lighten($bg-1, 3);
$bg-2: lighten($bg-1, 6);
$bg-3: lighten($bg-1, 9);
$bg-4: lighten($bg-1, 12);
$bg-5: lighten($bg-1, 15);
$bg-6: lighten($bg-1, 18);
// specifici
// $border-color: #333238;
$border-color: lighten($bg-1, 24);